# Almost full requirements for anuga
# though not including gdal and mpi4py which 
# we will leave to individual installs

pytest
numpy
scipy
netcdf4
matplotlib
dill
cython
future
Pmw
meshpy
pymetis
gitpython
pytz
utm