include *.rst
include runtests.py
include run_validations.py
include LICENCE.txt
recursive-include tools *
recursive-include user_manual *
recursive-include examples *
recursive-include anuga *
recursive-include validation_tests *



