include *.rst
include runtests.py
include run_validations.py
include LICENSE.txt
recursive-include tools *
recursive-include doc *
recursive-include examples *
recursive-include anuga *
recursive-include validation_tests *



