
# Other packages depend on numpy so install early
numpy 

cython
dill
future
gitpython
matplotlib
meshpy
mpi4py
netcdf4
Pmw
pymetis
pytest
pytz
scipy 
utm

# gdal is a problem. 
#setuptools<58.0.1
#gdal==3.0.4
