# Requirements to install anuga in read the docs

# Note: This file is used by read the docs to install the required packages
#       to build the documentation. It is not used to install anuga itself.

numpy
gdal
pytest
meshpy
cython
scipy
netcdf4
matplotlib
dill
future
gitpython
utm
pyproj
affine
openpyxl
pybind11
pymetis
mpi4py
msmpi
Pmw
meson
meson-python
ninja
pkg-config
xarray
cartopy
