# Requirements to install anuga in read the docs

numpy
cython
pybind11
meson
meson-python
ninja

pymetis
meshpy
scipy
netcdf4
gitpython
dill
future
Pmw


utm
pyproj
affine

pytest
matplotlib

nbsphinx
sphinx_rtd_theme
sphinx
