# Requirements to install anuga in read the docs

cython
pybind11
dill
future
gitpython
matplotlib
meshpy
nbsphinx
sphinx_rtd_theme
netcdf4
numpy
Pmw
pymetis
pytest
pytz
scipy
setuptools
sphinx
utm
affine
wheel

